html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


/* ---------------------------------- */
/* テーブル全体のスタイル */
/* ---------------------------------- */
#dataControlTable {
    border-collapse: collapse; 
    width: 400px; 
    margin: 50px auto 10px auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    table-layout: fixed; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 6px; 
    overflow: hidden;
}

/* ---------------------------------- */
/* ヘッダーのスタイル */
/* ---------------------------------- */
#dataControlTable thead th {
    height: 35px;
    font-size: 12px;
    font-weight: 60;
    background-color: rgba(220,220,220); /* 青系 */
    color: black; 
    padding: 5px 2px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#dataControlTable thead th:last-child {
    border-right: none;
}

/* ---------------------------------- */
/* データ行のスタイル */
/* ---------------------------------- */
#dataControlTable tbody td {
    padding: 0; /* paddingを0にしてフォームをフィットさせる */
    border: none;
    border-top: 1px solid #ccc;
    height: 35px;
    vertical-align: middle; /* フォーム/テキストを中央に配置 */
}

/* ---------------------------------- */
/* テーブル内の入力フォームのスタイル */
/* ---------------------------------- */
#dataControlTable input[type="number"] {
    width: 100%;
    box-sizing: border-box; 
    border: none;
    height: 35px; 
    background-color: transparent; 
    text-align: center;
    font-size: 14px;
    outline: none;
    border-right: 1px solid #ccc; 
}


